
<!DOCTYPE html>
<html >

<head>
	<meta charset="UTF-8">
	<title>ML API</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Styles for main page -->
        <div class="login">
  	    <h1 style="color:red"> Analysis and Prediction </h1>
				<hr>
				<br>

    <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}"method="post">
			        <!-- <form action="http://127.0.0.1:5000/predict" method="POST">  -->
							<label> Enter Moisture </label>
							<input type="text" name="Moisture" placeholder="Moisture" required="required" />
							<br>
							<br>
							<label> Enter Ash </label>
							<input type="text" name="Ash" placeholder="Ash" required="required" />

							<!--
							<div>
			                <label>A</label>
			                <input   type="text"   id="LL_Length"   name="LL_Length"  placeholder="Enter LL_Length"  required="required"/>
							</div>
							-->
							<br>
							<br>
			        <button type="submit" class="btn btn-primary btn-block btn-large">Predict GCV</button>
        </form>



   <br>
   <br>
   {{ prediction_text }}

    </div>


    <!-- Styles for main page further like footer and all -->
		<br>
		<br>
		<h3 style="color:blue"> Created & Designed by RKD @ ACDSD, CSIR-NEIST </h3>

</body>
</html>
